{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports"]
}
